/* Plain Links Tools v0.1.23 */

/* --- Reading View --- */
.plain-links-tools-auto-mailto-text {
  color: var(--text-normal);
  text-decoration-line: none;
  cursor: text;
}

/* --- Live Preview / Editor --- */

.markdown-source-view.mod-cm6 .cm-line .plain-links-tools-plain-email,
.markdown-source-view.mod-cm6 .cm-line .plain-links-tools-bare-email {
  display: inline-block;
  color: var(--text-normal);
  text-decoration-line: none;
  border-bottom: none;
  box-shadow: none;
  cursor: text;
  line-height: inherit;
  vertical-align: baseline;
}
